<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link id="favicon" rel="shortcut icon" type="image/png" href="/images/favicon.png" />

    <title><%=title %></title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/admin-layout.css" rel="stylesheet">

  </head>
  <body>
      <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/main">Одесский архив</a>
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout">Выйти</a>
          </li>
        </ul>
      </nav>
  
      <div class="container-fluid">
        <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" id="a_cards">
                        <span><img src="/images/cards.png" alt="" width="20" height="20"> </span>
                        Карточки
                        </a>
                      <div id=output_cards></div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="a_funds">
                        <span><img src="/images/funds.png" alt="" width="20" height="20"> </span>
                        Фонды
                        </a>
                      <div id=output_funds></div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="a_inventorys">
                        <span><img src="/images/inventorys.png" alt="" width="20" height="20"> </span>
                        Описи
                        </a>
                      <div id=output_inventorys></div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="a_cases">
                        <span><img src="/images/cases.png" alt="" width="20" height="20"> </span>
                        Дела
                        </a>
                      <div id=output_cases></div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="a_diff">
                        <span><img src="/images/diff.png" alt="" width="20" height="20"> </span>
                        Разное
                        </a>
                      <div id=output_diff></div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/main/account">
                        <span><img src="/images/user.png" alt="" width="20" height="20"> </span>
                        Аккаунт
                      </a>
                    </li>
                  </ul>
            </div>
          </nav>
          <div class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 bg-light">

            <tbody>
              <%-body -%>
            </tbody>

          </div>
        </div>
      </div>
      
      <script>
        var flag_cards = false;
        var flag_funds = false;
        var flag_inventorys = false;
        var flag_cases = false;
        var flag_diff = false;
        var a_cards = document.getElementById('a_cards');
        a_cards.addEventListener('click', function() {
          var output_cards = document.getElementById('output_cards');
          if (flag_cards == false) {
            output_cards.innerHTML = `<ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" href="/main/searching-cards">
                          &nbsp&nbsp&nbspПоиск карточек
                        </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/main/adding-card">
                            &nbsp&nbsp&nbspДобавление карточки
                          </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/main/edit-cards">
                          &nbsp&nbsp&nbspРедактор карточек
                        </a>
                    </li>
                    </ul>`;
            flag_cards = true;
          } else {
            output_cards.innerHTML = ``;
            flag_cards = false;
          }
        });

        var a_funds = document.getElementById('a_funds');
        a_funds.addEventListener('click', function() {
          var output_funds = document.getElementById('output_funds');
          if (flag_funds == false) {
            output_funds.innerHTML = `<ul class="nav flex-column">
                <li class="nav-item">
                        <a class="nav-link" href="/main/searching-fund">
                          &nbsp&nbsp&nbspПоиск фонда
                        </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/main/adding-fund">
                        &nbsp&nbsp&nbspДобавление фонда
                      </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/main/edit-funds">
                          &nbsp&nbsp&nbspРедактор фондов
                        </a>
                    </li>
                    </ul>`;
            flag_funds = true;
          } else {
            output_funds.innerHTML = ``;
            flag_funds = false;
          }
        });

        var a_inventorys = document.getElementById('a_inventorys');
        a_inventorys.addEventListener('click', function() {
          var output_inventorys = document.getElementById('output_inventorys');
          if (flag_inventorys == false) {
            output_inventorys.innerHTML = `<ul class="nav flex-column">
                <li class="nav-item">
                      <a class="nav-link" href="/main/searching-inventorys">
                        &nbsp&nbsp&nbspПоиск описей
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/main/adding-inventory">
                        &nbsp&nbsp&nbspДобавление описей
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/main/edit-inventorys">
                        &nbsp&nbsp&nbspРедактор описей
                      </a>
                    </li>
                    </ul>`;
            flag_inventorys = true;
          } else {
            output_inventorys.innerHTML = ``;
            flag_inventorys = false;
          }
        });

        var a_cases = document.getElementById('a_cases');
        a_cases.addEventListener('click', function() {
          var output_cases = document.getElementById('output_cases');
          if (flag_cases == false) {
            output_cases.innerHTML = `<ul class="nav flex-column">
                <li class="nav-item">
                      <a class="nav-link" href="/main/searching-cases">
                        &nbsp&nbsp&nbspПоиск дел
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/main/adding-case">
                        &nbsp&nbsp&nbspДобавление дел
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/main/edit-cases">
                        &nbsp&nbsp&nbspРедактор дел
                      </a>
                    </li>
                    </ul>`;
            flag_cases = true;
          } else {
            output_cases.innerHTML = ``;
            flag_cases = false;
          }
        });

        var a_diff = document.getElementById('a_diff');
        a_diff.addEventListener('click', function() {
          var output_diff = document.getElementById('output_diff');
          if (flag_diff == false) {
            output_diff.innerHTML = `<ul class="nav flex-column">
                <li class="nav-item">
                      <a class="nav-link" href="/main/edit-card-types">
                        &nbsp&nbsp&nbspРедактор типов
                      </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/main/edit-geo">
                          &nbsp&nbsp&nbspРедактор географии
                        </a>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/main/delete-card-type">
                          &nbsp&nbsp&nbspУдаление типа
                        </a>
                      </li>
                    </ul>`;
            flag_diff = true;
          } else {
            output_diff.innerHTML = ``;
            flag_diff = false;
          }
        });
        if (window.location.href == 'http://localhost:12090/main/searching-cards' || window.location.href == 'http://localhost:12090/main/searching-cards?' || window.location.href == 'http://localhost:12090/main/adding-card' || window.location.href == 'http://localhost:12090/main/edit-cards' || window.location.href == 'http://localhost:12090/main/searching-cards/edit?' || window.location.href == 'http://localhost:12090/main/adding-card?') {
            output_cards.innerHTML = `<ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" href="/main/searching-cards">
                          &nbsp&nbsp&nbspПоиск карточек
                        </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/main/adding-card">
                            &nbsp&nbsp&nbspДобавление карточки
                          </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/main/edit-cards">
                          &nbsp&nbsp&nbspРедактор карточек
                        </a>
                    </li>
                    </ul>`;
            flag_cards = true;
        }

        if (window.location.href == 'http://localhost:12090/main/searching-fund' || window.location.href == 'http://localhost:12090/main/adding-fund' || window.location.href == 'http://localhost:12090/main/edit-funds' || window.location.href == 'http://localhost:12090/main/edit-funds?') {
          output_funds.innerHTML = `<ul class="nav flex-column">
                <li class="nav-item">
                        <a class="nav-link" href="/main/searching-fund">
                          &nbsp&nbsp&nbspПоиск фонда
                        </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/main/adding-fund">
                        &nbsp&nbsp&nbspДобавление фонда
                      </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/main/edit-funds">
                          &nbsp&nbsp&nbspРедактор фондов
                        </a>
                    </li>
                    </ul>`;
            flag_funds = true;
        }

        if (window.location.href == 'http://localhost:12090/main/searching-inventorys' || window.location.href == 'http://localhost:12090/main/adding-inventory' || window.location.href == 'http://localhost:12090/main/edit-inventorys' || window.location.href == 'http://localhost:12090/main/edit-inventorys?') {
          output_inventorys.innerHTML = `<ul class="nav flex-column">
                <li class="nav-item">
                      <a class="nav-link" href="/main/searching-inventorys">
                        &nbsp&nbsp&nbspПоиск описей
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/main/adding-inventory">
                        &nbsp&nbsp&nbspДобавление описей
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/main/edit-inventorys">
                        &nbsp&nbsp&nbspРедактор описей
                      </a>
                    </li>
                    </ul>`;
            flag_inventorys = true;
        }

        if (window.location.href == 'http://localhost:12090/main/searching-cases' || window.location.href == 'http://localhost:12090/main/adding-case' || window.location.href == 'http://localhost:12090/main/edit-cases' || window.location.href == 'http://localhost:12090/main/edit-cases?') {
          output_cases.innerHTML = `<ul class="nav flex-column">
                <li class="nav-item">
                      <a class="nav-link" href="/main/searching-cases">
                        &nbsp&nbsp&nbspПоиск дел
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/main/adding-case">
                        &nbsp&nbsp&nbspДобавление дел
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/main/edit-cases">
                        &nbsp&nbsp&nbspРедактор дел
                      </a>
                    </li>
                    </ul>`;
            flag_cases = true;
        }

        if (window.location.href == 'http://localhost:12090/main/edit-card-types' || window.location.href == 'http://localhost:12090/main/edit-card-types?' || window.location.href == 'http://localhost:12090/main/edit-geo' || window.location.href == 'http://localhost:12090/main/edit-geo?' || window.location.href == 'http://localhost:12090/main/delete-card-type' || window.location.href == 'http://localhost:12090/main/delete-card-type?') {
          output_diff.innerHTML = `<ul class="nav flex-column">
                <li class="nav-item">
                      <a class="nav-link" href="/main/edit-card-types">
                        &nbsp&nbsp&nbspРедактор типов
                      </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/main/edit-geo">
                          &nbsp&nbsp&nbspРедактор географии
                        </a>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/main/delete-card-type">
                          &nbsp&nbsp&nbspУдаление типа
                        </a>
                      </li>
                    </ul>`;
            flag_diff = true;
        }
      </script>
    </body>
</html>
