<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link id="favicon" rel="shortcut icon" type="image/png" href="/images/favicon.png" />

    <title><%=title %></title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/admin-layout.css" rel="stylesheet">

  </head>
  <body>
      <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/main-guest">Одесский архив</a>
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout">Выйти</a>
          </li>
        </ul>
      </nav>
  
      <div class="container-fluid">
        <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/main/searching-cards-guest">
                        <span><img src="/images/cards.png" alt="" width="20" height="20"> </span>
                          Поиск карточек
                        </a>
                      </li>
                      <li class="nav-item">
                            <a class="nav-link" href="/main/searching-fund-guest">
                            <span><img src="/images/funds.png" alt="" width="20" height="20"> </span>
                              Поиск фонда
                            </a>
                        </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/main/searching-inventorys-guest">
                        <span><img src="/images/inventorys.png" alt="" width="20" height="20"> </span>
                        Поиск описей
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/main/searching-cases-guest">
                        <span><img src="/images/cases.png" alt="" width="20" height="20"> </span>
                        Поиск дел
                      </a>
                    </li>
                </ul>
            </div>
          </nav>
          <div class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 bg-light">

            <tbody>
              <%-body -%>
            </tbody>

          </div>
        </div>
      </div>
      
      <script>
      </script>
    </body>
</html>
