<% layout('layout/admin-layout') -%>
 
<h4 class="mb-3"><b>Добавить новый аккаунт:</b></h4>
<form id="needs-validation-register">
        <div class="row">
            <div class="col-md-5 mb-3">
            <label for="name"><b>ФИО:</b></label>
            <input type="text" class="form-control" id="name" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 mb-3">
            <label for="username"><b>Логин:</b></label>
            <input type="text" class="form-control" id="username" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 mb-3">
            <label for="password"><b>Пароль:</b></label>
            <input type="text" class="form-control" id="password" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Добавить аккаунт</button>
            </div>
        </div>
</form>

<h4 class="mb-3"><b>Удалить аккаунт:</b></h4>
<form id="needs-validation-delete">
        <div class="row">
            <div class="col-md-5 mb-3">
            <label for="username_delete"><b>Логин:</b></label>
            <input type="text" class="form-control" id="username_delete" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Удалить аккаунт</button>
            </div>
        </div>
</form>

<h4 class="mb-3"><b>Существующие аккаунты:</b></h4>

<%-data -%>

<script>
    var form_add = document.getElementById('needs-validation-register');
    var form_delete = document.getElementById('needs-validation-delete');
    form_add.addEventListener('submit', function() {
        if (form_add.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }

        data = {
            name: form_add.name.value,
            username: form_add.username.value,
            password: form_add.password.value
        }

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/main/account/add');			
        xhr.setRequestHeader('Content-Type', 'application/json'); 
        xhr.send(JSON.stringify(data));
        xhr.onload = function() {
          alert(this.responseText);
        };
    });

    form_delete.addEventListener('submit', function() {
        if (form_delete.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }

        data = {
            username: form_delete.username_delete.value
        }

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/main/account/delete');			
        xhr.setRequestHeader('Content-Type', 'application/json'); 
        xhr.send(JSON.stringify(data));
        xhr.onload = function() {
          alert(this.responseText);
        };
    });
    
</script>