<% layout('layout/admin-layout') -%>
 
<div class="col-md-8 order-md-1">
    <form action="/main/adding-fund" id="needs-validation">
    <h4 class="mb-3"><b>Добавление нового фонда</b></h4>
      <div class="row">
        <div class="col-md-12 mb-3">
          <label for="fundName"><b>Фондообразователь:</b></label>
          <input type="text" class="form-control" id="fundName" placeholder="Название фондообразователя" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 mb-3">
          <label for="fundCode"><b>Номер фонда:</b></label>
          <input type="text" class="form-control" id="fundCode" placeholder="Пример: Р-100" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-3">
            <label for="fundStart"><b>Год начала работы фонда:</b></label>
            <input type="text" class="form-control" id="fundStart" placeholder="" required>
        </div>
        <div class="col-md-4 mb-3">
            <label for="fundEnd"><b>Год окончания работы фонда:</b></label>
            <input type="text" class="form-control" id="fundEnd" placeholder="" required>
        </div>
        <div class="col-md-4 mb-3">
            <label for="fundCapacity"><b>Кол-во дел в фонде:</b></label>
            <input type="text" class="form-control" id="fundCapacity" placeholder="" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
            <label for="geo"><b>Выберите тип географической привязки:</b></label>
            <select class="custom-select d-block w-100" id="geo" required>
                <option>Область-Город</option>
                <option>Область-Район-Город</option>
                <option>Область-Район-Село</option>
                <option>Губерния-Уезд-Волость-Село</option>
                <option>Губерния-Уезд-Город</option>
            </select>
        </div>
        <div class="col-md-4 mb-3">
            <label for="btn_geo_form"> </label>
            <button class="btn btn-primary btn-lg btn-block" id="btn_geo_form">Загрузить форму</button>
        </div>
      </div>
      <div class="row" id="geoForm">
      </div>
      <div class="row">
        <div class="col-md-4 mb-3">
            <button type="submit" class="btn btn-primary btn-lg btn-block" id="btn_add_fund">Добавить фонд</button>
        </div>
      </div>
      </form>
</div>

<script>
    var btn_geo_form = document.getElementById('btn_geo_form');
    btn_geo_form.addEventListener('click', function() {
      var geoForm = document.getElementById('geoForm');
      var geo = document.getElementById('geo');
      switch(geo.value) {
        case "Область-Город": 
           geoForm.innerHTML = `<div class="col-md-4 mb-3">
                                    <label for="region"><b>Область:</b></label>
                                    <input type="text" class="form-control" id="region" placeholder="" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="city"><b>Город:</b></label>
                                    <input type="text" class="form-control" id="city" placeholder="" required>
                                </div>`;
          break;
        case "Область-Район-Город":
          geoForm.innerHTML = `<div class="col-md-4 mb-3">
                                    <label for="region"><b>Область:</b></label>
                                    <input type="text" class="form-control" id="region" placeholder="" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="district"><b>Район:</b></label>
                                    <input type="text" class="form-control" id="district" placeholder="" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="city"><b>Город:</b></label>
                                    <input type="text" class="form-control" id="city" placeholder="" required>
                                </div>`;
          break;
        case "Область-Район-Село":
          geoForm.innerHTML = `<div class="col-md-4 mb-3">
                                    <label for="region"><b>Область:</b></label>
                                    <input type="text" class="form-control" id="region" placeholder="" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="district"><b>Район:</b></label>
                                    <input type="text" class="form-control" id="district" placeholder="" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="village"><b>Село:</b></label>
                                    <input type="text" class="form-control" id="village" placeholder="" required>
                                </div>`;
          break;
        case "Губерния-Уезд-Волость-Село":
          geoForm.innerHTML = `<div class="col-md-4 mb-3">
                                    <label for="province"><b>Губерния:</b></label>
                                    <input type="text" class="form-control" id="province" placeholder="" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="county"><b>Уезд:</b></label>
                                    <input type="text" class="form-control" id="county" placeholder="" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="parish"><b>Волость:</b></label>
                                    <input type="text" class="form-control" id="parish" placeholder="" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="village"><b>Село:</b></label>
                                    <input type="text" class="form-control" id="village" placeholder="" required>
                                </div>`;
          break;
        case "Губерния-Уезд-Город":
          geoForm.innerHTML = `<div class="col-md-4 mb-3">
                                    <label for="province"><b>Губерния:</b></label>
                                    <input type="text" class="form-control" id="province" placeholder="" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="county"><b>Уезд:</b></label>
                                    <input type="text" class="form-control" id="county" placeholder="" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="city"><b>Город:</b></label>
                                    <input type="text" class="form-control" id="city" placeholder="" required>
                                </div>`;
          break;
      }
    })
    var form = document.getElementById('needs-validation');
    form.addEventListener('submit', function() {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');

        var data = {
          fundCreator: form.fundName.value,
          fundCode: form.fundCode.value,
          fundStart: form.fundStart.value,
          fundEnd: form.fundEnd.value,
          fundCapacity: form.fundCapacity.value,
          geo: form.geo.value,
          region: (form.region) ? form.region.value : null,
          city: (form.city) ? form.city.value : null,
          district: (form.district) ? form.district.value : null,
          village: (form.village) ? form.village.value : null,
          province: (form.province) ? form.province.value : null,
          county: (form.county) ? form.county.value : null,
          parish: (form.parish) ? form.parish.value : null
        }
      var geo = document.getElementById('geo');
      var tempStr;
      switch(geo.value) {
        case "Область-Город":
          tempStr = `ОБЛАСТЬ: ${data.region}\nГОРОД: ${data.city}\n`;
          break;
        case "Область-Район-Город":
          tempStr = `ОБЛАСТЬ: ${data.region}\nРАЙОН: ${data.district}\nГОРОД: ${data.city}\n`;
          break;
        case "Область-Район-Село":
          tempStr = `ОБЛАСТЬ: ${data.region}\nРАЙОН: ${data.district}\nСЕЛО: ${data.village}\n`;
          break;
        case "Губерния-Уезд-Волость-Село":
          tempStr = `ГУБЕРНИЯ: ${data.province}\nУЕЗД: ${data.county}\nВОЛОСТЬ: ${data.parish}\nСЕЛО: ${data.village}\n`;
          break;
        case "Губерния-Уезд-Город":
          tempStr = `ГУБЕРНИЯ: ${data.province}\nУЕЗД: ${data.county}\nГОРОД: ${data.city}\n`;
          break;
      }
        var check = confirm(`ВНИМАНИЕ, вы создатете фонд с такой географической привязкой:\n${tempStr}`);
        if (check) {
          var xhr = new XMLHttpRequest();
          xhr.open('POST', '/main/adding-fund');			
          xhr.setRequestHeader('Content-Type', 'application/json'); 
          xhr.send(JSON.stringify(data));
          xhr.onload = function() {
            alert(this.responseText);
          };
        }
      });
</script>