<% layout('layout/admin-layout') -%>

<h4 class="mb-3"><b>Добавление карточки</b></h4>

<%-data -%>
<div id="output"></div>

<script>
    var btn_render_form = document.getElementById('btn_render_form');
    btn_render_form.addEventListener('click', function() {
        var cardType = document.getElementById('cardType');
        var data = {
            cardType: cardType.value
        }
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/main/adding-card/load-form');			
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(data));
        xhr.onload = function() {
            var output = document.getElementById('output');
            output.innerHTML += this.responseText;
        };
    });
    var btn_hide_form = document.getElementById('btn_hide_form');
    btn_hide_form.addEventListener('click', function() {
        var output = document.getElementById('output');
            output.innerHTML = '';
    });
</script>