<% layout('layout/admin-layout') -%>
 
<div class="col-md-8 order-md-1">
    <form action="/main/adding-case" id="needs-validation">
    <h4 class="mb-3"><b>Добавление нового дела</b></h4>
      <div class="row">
        <div class="col-md-12 mb-3">
          <label for="caseName"><b>Название:</b></label>
          <input type="text" class="form-control" id="caseName" placeholder="Название дела" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 mb-3">
          <label for="fundCode"><b>Номер фонда:</b></label>
          <input type="text" class="form-control" id="fundCode" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 mb-3">
          <label for="inventoryCode"><b>Номер описи:</b></label>
          <input type="text" class="form-control" id="inventoryCode" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 mb-3">
          <label for="caseCode"><b>Номер книги (ед. хр.):</b></label>
          <input type="text" class="form-control" id="caseCode" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-3">
            <label for="caseDate"><b>Дата:</b></label>
            <input type="text" class="form-control" id="caseDate" required>
        </div>
        <div class="col-md-4 mb-3">
            <label for="caseCapacity"><b>Кол-во листов:</b></label>
            <input type="text" class="form-control" id="caseCapacity" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-3">
            <button type="submit" class="btn btn-primary btn-lg btn-block" id="btn_add_case">Добавить дело</button>
        </div>
      </div>
      </form>
</div>

<script>
    var form = document.getElementById('needs-validation');
    form.addEventListener('submit', function() {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');

        var data = {
            caseName: form.caseName.value,
            fundCode: form.fundCode.value,
            inventoryCode: form.inventoryCode.value,
            caseCode: form.caseCode.value,
            caseDate: form.caseDate.value,
            caseCapacity: form.caseCapacity.value,
        }

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/main/adding-case');			
        xhr.setRequestHeader('Content-Type', 'application/json'); 
        xhr.send(JSON.stringify(data));
        xhr.onload = function() {
          alert(this.responseText);
        };
      });
</script>