<% layout('layout/admin-layout') -%>
 
<div class="col-md-8 order-md-1">
    <form action="/main/adding-inventory" id="needs-validation">
    <h4 class="mb-3"><b>Добавление новой описи</b></h4>
      <div class="row">
        <div class="col-md-12 mb-3">
          <label for="inventoryName"><b>Название:</b></label>
          <input type="text" class="form-control" id="inventoryName" placeholder="Название описи" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 mb-3">
          <label for="fundCode"><b>Номер фонда:</b></label>
          <input type="text" class="form-control" id="fundCode" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 mb-3">
          <label for="inventoryCode"><b>Номер описи:</b></label>
          <input type="text" class="form-control" id="inventoryCode" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-3">
            <label for="inventoryStart"><b>Год от:</b></label>
            <input type="text" class="form-control" id="inventoryStart" required>
        </div>
        <div class="col-md-4 mb-3">
            <label for="inventoryEnd"><b>Год до:</b></label>
            <input type="text" class="form-control" id="inventoryEnd" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-3">
            <button type="submit" class="btn btn-primary btn-lg btn-block" id="btn_add_inventory">Добавить опись</button>
        </div>
      </div>
      </form>
</div>

<script>
    var form = document.getElementById('needs-validation');
    form.addEventListener('submit', function() {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');

        var data = {
            inventoryName: form.inventoryName.value,
            inventoryCode: form.inventoryCode.value,
            inventoryStart: form.inventoryStart.value,
            inventoryEnd: form.inventoryEnd.value,
            fundCode: fundCode.value
        }

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/main/adding-inventory');			
        xhr.setRequestHeader('Content-Type', 'application/json'); 
        xhr.send(JSON.stringify(data));
        xhr.onload = function() {
          alert(this.responseText);
        };
      });
</script>