<% layout('layout/admin-layout') -%>

<h4 class="mb-3"><b>Удалить тип карточки:</b></h4>
<form id="needs-validation">
    <div class="row">
        <div class="col-md-1 mb-3">
            <h6><b>Название карточки:</b></h6>
        </div>
        <div class="col-md-3 mb-3">
            <input type="text" class="form-control" id="name" required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
                <button type="submit" class="btn btn-primary btn-lg btn-block" id="btn_delete_type">Удалить</button>
        </div>
    </div>
</form>

<script>
    var form = document.getElementById('needs-validation');
    form.addEventListener('submit', function() {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
        
        var name = document.getElementById('name');
        var data = {
            name: name.value
        }
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/main/delete-card-type');			
        xhr.setRequestHeader('Content-Type', 'application/json'); 
        xhr.send(JSON.stringify(data));
        xhr.onload = function() {
            alert(this.responseText);
        }
    });
</script>