<% layout('layout/admin-layout') -%>

<div class="col-md-8 order-md-1">
        <h4 class="mb-3"><b>Изменение карточки</b></h4>
          <div class="row">
            <div class="col-md-3 mb-3">
                <label for="fundCode"><b>Фонд:</b></label>
                <input type="text" class="form-control" id="fundCode" required>
            </div>
            <div class="col-md-3 mb-3">
                <label for="inventoryCode"><b>Опись:</b></label>
                <input type="text" class="form-control" id="inventoryCode" required>
            </div>
            <div class="col-md-3 mb-3">
                <label for="caseCode"><b>Дело:</b></label>
                <input type="text" class="form-control" id="caseCode" required>
            </div>
            <div class="col-md-3 mb-3">
                <label for="type"><b>Тип:</b></label>
                <input type="text" class="form-control" id="type" required>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mb-3">
                <button class="btn btn-primary btn-lg btn-block" id="btn_load_form">Загрузить форму</button>
            </div>
          </div>
    </div>
    <div id="output"></div>

    <div class="col-md-8 order-md-1">
        <form action="/main/edit-cards" id="needs-validation-delete">
        <h4 class="mb-3"><b>Удаление карточки</b></h4>
          <div class="row">
            <div class="col-md-3 mb-3">
                <label for="fundCodeDelete"><b>Фонд:</b></label>
                <input type="text" class="form-control" id="fundCodeDelete" required>
            </div>
            <div class="col-md-3 mb-3">
                <label for="inventoryCodeDelete"><b>Опись:</b></label>
                <input type="text" class="form-control" id="inventoryCodeDelete" required>
            </div>
            <div class="col-md-3 mb-3">
                <label for="caseCodeDelete"><b>Дело:</b></label>
                <input type="text" class="form-control" id="caseCodeDelete" required>
            </div>
            <div class="col-md-3 mb-3">
                <label for="typeDelete"><b>Тип:</b></label>
                <input type="text" class="form-control" id="typeDelete" required>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mb-3">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Удалить карточку</button>
            </div>
          </div>
          </form>
    </div>
    
<script>
    var btn_load_form = document.getElementById('btn_load_form');
    btn_load_form.addEventListener('click', function() {
      var inputs = document.getElementsByTagName('input');
        var data = {
          fundCode: inputs[0].value,
          inventoryCode: inputs[1].value,
          caseCode: inputs[2].value,
          type: inputs[3].value
        }
          var xhr = new XMLHttpRequest();
          xhr.open('POST', '/main/edit-cards/load');			
          xhr.setRequestHeader('Content-Type', 'application/json'); 
          xhr.send(JSON.stringify(data));
          xhr.onload = function() {
            var output = document.getElementById('output');
            output.innerHTML = this.responseText;
          }
    });

    var form_delete = document.getElementById('needs-validation-delete');
    form_delete.addEventListener('submit', function() {
        if (form_delete.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form_delete.classList.add('was-validated');
        var data = {
          fundCode: form_delete.fundCodeDelete.value,
          inventoryCode: form_delete.inventoryCodeDelete.value,
          caseCode: form_delete.caseCodeDelete.value,
          type: form_delete.typeDelete.value
        }

        var check = confirm(`Вы уверены, что хотите удалить данную карточку?
                            НОМЕР ФОНДА: ${data.fundCode}
                            НОМЕР ОПИСИ: ${data.inventoryCode}
                            НОМЕР ДЕЛА: ${data.caseCode}`);
        if (check) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/main/edit-cards/delete');			
            xhr.setRequestHeader('Content-Type', 'application/json'); 
            xhr.send(JSON.stringify(data));
            xhr.onload = function() {
                alert(this.responseText);
            }
        }
    });
</script>