<% layout('layout/admin-layout') -%>

<div class="col-md-8 order-md-1">
        <form action="/main/edit-funds" id="needs-validation-edit">
        <h4 class="mb-3"><b>Изменение фонда</b></h4>
          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="fundCode"><b>Номер фонда:</b></label>
              <input type="text" class="form-control" id="fundCode" placeholder="Пример: Р-100" required>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-3">
              <label for="fundName"><b>Изменить фондообразователя:</b></label>
              <input type="text" class="form-control" id="fundName" placeholder="Название фондообразователя">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mb-3">
                <label for="fundStart"><b>Изменить год начала работы фонда:</b></label>
                <input type="text" class="form-control" id="fundStart" placeholder="">
            </div>
            <div class="col-md-4 mb-3">
                <label for="fundEnd"><b>Изменить год окончания работы фонда:</b></label>
                <input type="text" class="form-control" id="fundEnd" placeholder="">
            </div>
            <div class="col-md-4 mb-3">
                <label for="fundCapacity"><b>Изменить количество дел в фонде:</b></label>
                <input type="text" class="form-control" id="fundCapacity" placeholder="">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mb-3">
                <button type="submit" class="btn btn-primary btn-lg btn-block" id="btn_edit_fund">Изменить фонд</button>
            </div>
          </div>
          </form>
    </div>

    <div class="col-md-8 order-md-1">
        <form action="/main/edit-funds" id="needs-validation-delete">
        <h4 class="mb-3"><b>Удаление фонда</b></h4>
          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="fundCode"><b>Номер фонда:</b></label>
              <input type="text" class="form-control" id="fundCodeDelete" placeholder="Пример: Р-100" required>
            </div>
        </div>
          <div class="row">
            <div class="col-md-4 mb-3">
                <button type="submit" class="btn btn-primary btn-lg btn-block" id="btn_delete_fund">Удалить фонд</button>
            </div>
          </div>
          </form>
    </div>
    
<script>
    var form_edit = document.getElementById('needs-validation-edit');
    form_edit.addEventListener('submit', function() {
        if (form_edit.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form_edit.classList.add('was-validated');

        var data = {
          fundCreator: form_edit.fundName.value,
          fundCode: form_edit.fundCode.value,
          fundStart: form_edit.fundStart.value,
          fundEnd: form_edit.fundEnd.value,
          fundCapacity: form_edit.fundCapacity.value
        }
        var check = confirm(`Подтвердите изменение данных фонда:
                            НОМЕР ИЗМЕНЯЕМОГО ФОНДА: ${data.fundCode}

                            Фондообразователь: ${data.fundCreator ? data.fundCreator : "без изменений"}
                            Начало работы фонда: ${data.fundStart ? data.fundStart : "без изменений"}
                            Конец работы фонда: ${data.fundEnd ? data.fundEnd : "без изменений"}
                            Кол-во дел: ${data.fundCapacity ? data.fundCapacity : "без изменений"}`);
        if (check) {
          var xhr = new XMLHttpRequest();
          xhr.open('POST', '/main/edit-funds/edit');			
          xhr.setRequestHeader('Content-Type', 'application/json'); 
          xhr.send(JSON.stringify(data));
          xhr.onload = function() {
            alert(this.responseText);
          }
        }
    });

    var form_delete = document.getElementById('needs-validation-delete');
    form_delete.addEventListener('submit', function() {
        if (form_delete.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form_delete.classList.add('was-validated');
        var data = {
          fundCode: form_delete.fundCodeDelete.value
        }

        var check = confirm(`Вы уверены, что хотите удалить данный фонд?
                            НОМЕР ФОНДА: ${data.fundCode}\nВНИМАНИЕ! Удаление фонда повлечет за собой удаление всех присущих ему описей, дел и карточек!`);
        if (check) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/main/edit-funds/delete');			
            xhr.setRequestHeader('Content-Type', 'application/json'); 
            xhr.send(JSON.stringify(data));
            xhr.onload = function() {
            alert(this.responseText);
            }
        }
    });
</script>