<% layout('layout/admin-layout') -%>
 
<h4 class="mb-3"><b>Добавить новый тип карточки:</b></h4>
<form id="needs-validation-name">
        <div class="row">
            <div class="col-md-1 mb-3">
                <h6><b>Название карточки:</b></h6>
            </div>
            <div class="col-md-3 mb-3">
                <input type="text" class="form-control" id="name" required>
            </div>
        </div>
</form>
    <div class="row">
        <div class="col-md-1 mb-3">
            <h6><b>Имя поля:</b></h6>
        </div>
        <div class="col-md-3 mb-3">
            <input type="text" class="form-control" value="Фонд" readonly>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 mb-3">
            <h6><b>Имя поля:</b></h6>
        </div>
        <div class="col-md-3 mb-3">
            <input type="text" class="form-control" value="Опись" readonly>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 mb-3">
            <h6><b>Имя поля:</b></h6>
        </div>
        <div class="col-md-3 mb-3">
            <input type="text" class="form-control" value="Дело" readonly>
        </div>
    </div>
    <form id="needs-validation">
        <div id="output"></div>
    </form>
    <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="fio-check">
            <label class="custom-control-label" for="fio-check"><h6><b>ФИО</b></h6></label>
        </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="geo-check">
        <label class="custom-control-label" for="geo-check"><h6><b>Привязать к месту события</b></h6></label>
    </div>
    <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="date-check">
            <label class="custom-control-label" for="date-check"><h6><b>Присутствует дата события</b></h6></label>
        </div>
    <div class="row">
        <div class="col-md-3 mb-3">
            <button class="btn btn-primary btn-lg btn-block" id="btn_add_field">Добавить поле</button>
        </div>
        <div class="col-md-3 mb-3">
            <button class="btn btn-primary btn-lg btn-block" id="btn_delete_field">Удалить поля</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
                <button class="btn btn-primary btn-lg btn-block" id="btn_add_type">Добавить тип карточки</button>
        </div>
    </div>

<%-data -%>

<script>
    //<hr class="mb-4">
    var btn_add_field = document.getElementById('btn_add_field');
    var btn_delete_field = document.getElementById('btn_delete_field');
    var btn_add_type = document.getElementById('btn_add_type');
    var output = document.getElementById('output');
    var tempFunc = Array.prototype.forEach;
    var inputs, id = 1, counter = 1, tempData = {};
    btn_add_field.addEventListener('click', function() {
        var inputs = document.getElementsByTagName('input');
        tempFunc.call(inputs, function(field) {
            if (field.id != 'geo-check' && field.id != 'date-check' && field.id != 'fio-check')  {
            tempData['field_' + counter] = field.value;
            counter++ }
        });
        counter = 1;
        output.innerHTML += `<div class="row">
                                <div class="col-md-1 mb-3">
                                    <h6><b>Имя поля:</b></h6>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <input type="text" class="form-control" required>
                                </div>
                            </div>`;
        id++;
        tempFunc.call(inputs, function(field) {
            if (field.id != 'geo-check' && field.id != 'date-check' && field.id != 'fio-check') {
            if (tempData['field_' + counter] !== undefined) field.value = tempData['field_' + counter];
            counter++; }
        });
        counter = 1;
        tempData = {};
        btn_add_type.hidden = false;
    });
    btn_delete_field.addEventListener('click', function() {
        output.innerHTML = ``;
        btn_add_type.hidden = true;
        id = 1;
    });

    btn_add_type.hidden = true;
    var form = document.getElementById('needs-validation');
    var form_name = document.getElementById('needs-validation-name');
    btn_add_type.addEventListener('click', function() {
        if (form.checkValidity() === false || form_name.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
          form.classList.add('was-validated');
          form_name.classList.add('was-validated');
        } else {
            form.classList.add('was-validated');
            form_name.classList.add('was-validated');
            var inputs = document.getElementsByTagName('input');
            var geo_check = document.getElementById('geo-check');
            var date_check = document.getElementById('date-check');
            var fio_check = document.getElementById('fio-check');
            var data = {}; var i = 1;
            tempFunc.call(inputs, function(field) {
                if (field.id != 'geo-check' && field.id != 'date-check' && field.id != 'fio-check') {
                    data['field_' + i] = field.value;
                    i++;
                }
            });
            i = 1;
            data.geo_check = geo_check.checked;
            data.date_check = date_check.checked;
            data.fio_check = fio_check.checked;
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/main/edit-card-types/add');			
            xhr.setRequestHeader('Content-Type', 'application/json'); 
            xhr.send(JSON.stringify(data));
            var data = {};
            xhr.onload = function() {
                alert(this.responseText);
                window.location.href = '/main/edit-card-types';
            }
        }
    });
</script>