<% layout('layout/admin-layout') -%>

<div class="col-md-8 order-md-1">
        <form action="/main/edit-inventorys" id="needs-validation-edit">
        <h4 class="mb-3"><b>Изменение описи</b></h4>
          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="fundCode"><b>Номер фонда:</b></label>
              <input type="text" class="form-control" id="fundCode" placeholder="Пример: Р-100" required>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="inventoryCode"><b>Номер описи:</b></label>
              <input type="text" class="form-control" id="inventoryCode" required>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-3">
              <label for="inventoryName"><b>Изменить название:</b></label>
              <input type="text" class="form-control" id="inventoryName" placeholder="Новое название описи">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mb-3">
                <label for="inventoryStart"><b>Изменить год от:</b></label>
                <input type="text" class="form-control" id="inventoryStart" placeholder="">
            </div>
            <div class="col-md-4 mb-3">
                <label for="inventoryEnd"><b>Изменить год до:</b></label>
                <input type="text" class="form-control" id="inventoryEnd" placeholder="">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mb-3">
                <button type="submit" class="btn btn-primary btn-lg btn-block" id="btn_edit_inventory">Изменить опись</button>
            </div>
          </div>
          </form>
    </div>

    <div class="col-md-8 order-md-1">
        <form action="/main/edit-inventorys" id="needs-validation-delete">
        <h4 class="mb-3"><b>Удаление описи</b></h4>
          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="fundCodeDelete"><b>Номер фонда:</b></label>
              <input type="text" class="form-control" id="fundCodeDelete" placeholder="Пример: Р-100" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 mb-3">
              <label for="inventoryCodeDelete"><b>Номер описи:</b></label>
              <input type="text" class="form-control" id="inventoryCodeDelete" required>
            </div>
        </div>
          <div class="row">
            <div class="col-md-4 mb-3">
                <button type="submit" class="btn btn-primary btn-lg btn-block" id="btn_delete_inventory">Удалить опись</button>
            </div>
          </div>
          </form>
    </div>
    
<script>
    var form_edit = document.getElementById('needs-validation-edit');
    form_edit.addEventListener('submit', function() {
        if (form_edit.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form_edit.classList.add('was-validated');

        var data = {
          fundCode: form_edit.fundCode.value,
          inventoryCode: form_edit.inventoryCode.value,
          inventoryName: form_edit.inventoryName.value,
          inventoryStart: form_edit.inventoryStart.value,
          inventoryEnd: form_edit.inventoryEnd.value
        }
        var check = confirm(`Подтвердите изменение данных описи:
                            ОПИСЬ ПРИНАДЛЕЖИТ ФОНДУ: ${data.fundCode}
                            НОМЕР ИЗМЕНЯЕМОЙ ОПИСИ: ${data.inventoryCode}

                            Название: ${data.inventoryName ? data.inventoryName : "без изменений"}
                            Год от: ${data.inventoryStart ? data.inventoryStart : "без изменений"}
                            Год до: ${data.inventoryEnd ? data.inventoryEnd : "без изменений"}`);
        if (check) {
          var xhr = new XMLHttpRequest();
          xhr.open('POST', '/main/edit-inventorys/edit');			
          xhr.setRequestHeader('Content-Type', 'application/json'); 
          xhr.send(JSON.stringify(data));
          xhr.onload = function() {
            alert(this.responseText);
          }
        }
    });

    var form_delete = document.getElementById('needs-validation-delete');
    form_delete.addEventListener('submit', function() {
        if (form_delete.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form_delete.classList.add('was-validated');
        var data = {
          fundCode: form_delete.fundCodeDelete.value,
          inventoryCode: form_delete.inventoryCodeDelete.value
        }

        var check = confirm(`Вы уверены, что хотите удалить данную опись?
                            НОМЕР ФОНДА: ${data.fundCode}
                            НОМЕР ОПИСИ: ${data.inventoryCode}\nВНИМАНИЕ! Удаление описи повлечет за собой удаление всех присущих ей дел и карточек!`);
        if (check) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/main/edit-inventorys/delete');			
            xhr.setRequestHeader('Content-Type', 'application/json'); 
            xhr.send(JSON.stringify(data));
            xhr.onload = function() {
            alert(this.responseText);
            }
        }
    });
</script>