<% layout('layout/admin-layout') -%>

<div class="col-md-8 order-md-1">
        <form action="/main/edit-geo" id="needs-validation">
        <h4 class="mb-3"><b>Ввод переименований</b></h4>
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="row">
                    <label for="realType"><b>Текущее название</b></label>
                    <select class="custom-select d-block w-100" id="realType" required>
                        <option>none</option>
                        <option>Область</option>
                        <option>Район</option>
                        <option>Село</option>
                        <option>Город</option>
                        <option>Губерния</option>
                        <option>Уезд</option>
                        <option>Волость</option>
                    </select>
                </div>
                <div class="row">
                    <input type="text" class="form-control" id="realName" placeholder="текущее название" required>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="row">
                    <label for="parentType"><b>Прямое подчинение</b></label>
                    <select class="custom-select d-block w-100" id="parentType">
                        <option>none</option>
                        <option>Область</option>
                        <option>Район</option>
                        <option>Губерния</option>
                        <option>Уезд</option>
                        <option>Волость</option>
                    </select>
                </div>  
                <div class="row">
                    <input type="text" class="form-control" id="parentName" placeholder="название родителя">
                </div> 
            </div>
            <div class="col-md-4 mb-3">
                <div class="row">
                    <label for="grandparentType"><b>Косвенное подчинение</b></label>
                    <select class="custom-select d-block w-100" id="grandparentType">
                        <option>none</option>
                        <option>Область</option>
                        <option>Губерния</option>
                        <option>Уезд</option>
                    </select>
                </div>
                <div class="row">
                    <input type="text" class="form-control" id="grandparentName" placeholder="название прародителя">
                </div>
            </div>   
        </div>    
          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="oldName"><b>Старое название:</b></label>
              <input type="text" class="form-control" id="oldName" required>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mb-3">
                <label for="yearStart"><b>С какого года:</b></label>
                <input type="text" class="form-control" id="yearStart" placeholder="" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="yearEnd"><b>По какой год:</b></label>
                <input type="text" class="form-control" id="yearEnd" placeholder="" required>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mb-3">
                <button type="submit" class="btn btn-primary btn-lg btn-block" id="btn_add_rename">Добавить</button>
            </div>
          </div>
          </form>
          <h4 class="mb-3"><b>Смена названия:</b></h4>
          <form action="/main/edit-geo" id="needs-validation1">
            <div class="row">
                    <div class="col-md-4 mb-3">
                        <div class="row">
                            <label for="realTypeRe"><b>Текущее название</b></label>
                            <select class="custom-select d-block w-100" id="realTypeRe" required>
                                <option>none</option>
                                <option>Область</option>
                                <option>Район</option>
                                <option>Село</option>
                                <option>Город</option>
                                <option>Губерния</option>
                                <option>Уезд</option>
                                <option>Волость</option>
                            </select>
                        </div>
                        <div class="row">
                            <input type="text" class="form-control" id="realNameRe" placeholder="текущее название" required>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="row">
                            <label for="parentTypeRe"><b>Прямое подчинение</b></label>
                            <select class="custom-select d-block w-100" id="parentTypeRe">
                                <option>none</option>
                                <option>Область</option>
                                <option>Район</option>
                                <option>Губерния</option>
                                <option>Уезд</option>
                                <option>Волость</option>
                            </select>
                        </div>  
                        <div class="row">
                            <input type="text" class="form-control" id="parentNameRe" placeholder="название родителя">
                        </div> 
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="row">
                            <label for="grandparentTypeRe"><b>Косвенное подчинение</b></label>
                            <select class="custom-select d-block w-100" id="grandparentTypeRe">
                                <option>none</option>
                                <option>Область</option>
                                <option>Губерния</option>
                                <option>Уезд</option>
                            </select>
                        </div>
                        <div class="row">
                            <input type="text" class="form-control" id="grandparentNameRe" placeholder="название прародителя">
                        </div>
                    </div>   
                </div>    
              <div class="row">
                    <div class="col-md-4 mb-3">
                      <label for="newNameRe"><b>Новое название:</b></label>
                      <input type="text" class="form-control" id="newNameRe" required>
                    </div>
                  </div>
            <div class="row">
            <div class="col-md-4 mb-3">
                <button type="submit" class="btn btn-primary btn-lg btn-block" id="btn_rename">Переименовать</button>
            </div>
          </div>
        </form>
    </div>

<script>
    var form = document.getElementById('needs-validation');
    form.addEventListener('submit', function() {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');

        var data = {
            realType: form.realType.value,
            realName: form.realName.value,
            parentType: form.parentType.value,
            parentName: form.parentName.value,
            grandparentType: form.grandparentType.value,
            grandparentName: form.grandparentName.value,
            oldName: form.oldName.value,
            yearStart: form.yearStart.value,
            yearEnd: form.yearEnd.value
        }
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/main/edit-geo/add-rename');			
        xhr.setRequestHeader('Content-Type', 'application/json'); 
        xhr.send(JSON.stringify(data));
        xhr.onload = function() {
          alert(this.responseText);
        };
    });

    var form1 = document.getElementById('needs-validation1');
    form1.addEventListener('submit', function() {
        if (form1.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form1.classList.add('was-validated');

        var data = {
            newName: form1.newNameRe.value,
            realType: form1.realTypeRe.value,
            realName: form1.realNameRe.value,
            parentType: form1.parentTypeRe.value,
            parentName: form1.parentNameRe.value,
            grandparentType: form1.grandparentTypeRe.value,
            grandparentName: form1.grandparentNameRe.value
        }
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/main/edit-geo/rename');			
        xhr.setRequestHeader('Content-Type', 'application/json'); 
        xhr.send(JSON.stringify(data));
        xhr.onload = function() {
          alert(this.responseText);
        };
    });
</script>