<% layout('layout/admin-layout') -%>

<div class="col-md-8 order-md-1">
        <form action="/main/edit-cases" id="needs-validation-edit">
        <h4 class="mb-3"><b>Изменение дела</b></h4>
          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="fundCode"><b>Номер фонда:</b></label>
              <input type="text" class="form-control" id="fundCode" placeholder="Пример: Р-100" required>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="inventoryCode"><b>Номер описи:</b></label>
              <input type="text" class="form-control" id="inventoryCode" required>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="caseCode"><b>Номер книги (ед. хр.):</b></label>
              <input type="text" class="form-control" id="caseCode" required>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-3">
              <label for="caseName"><b>Изменить название:</b></label>
              <input type="text" class="form-control" id="caseName" placeholder="Новое название дела">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mb-3">
                <label for="caseDate"><b>Изменить дату:</b></label>
                <input type="text" class="form-control" id="caseDate" placeholder="">
            </div>
            <div class="col-md-4 mb-3">
                <label for="caseCapacity"><b>Изменить кол-во листов:</b></label>
                <input type="text" class="form-control" id="caseCapacity" placeholder="">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mb-3">
                <button type="submit" class="btn btn-primary btn-lg btn-block" id="btn_edit_case">Изменить дело</button>
            </div>
          </div>
          </form>
    </div>

    <div class="col-md-8 order-md-1">
        <form action="/main/edit-cases" id="needs-validation-delete">
        <h4 class="mb-3"><b>Удаление дела</b></h4>
          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="fundCodeDelete"><b>Номер фонда:</b></label>
              <input type="text" class="form-control" id="fundCodeDelete" placeholder="Пример: Р-100" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 mb-3">
              <label for="inventoryCodeDelete"><b>Номер описи:</b></label>
              <input type="text" class="form-control" id="inventoryCodeDelete" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 mb-3">
              <label for="caseCodeDelete"><b>Номер книги (ед. хр.):</b></label>
              <input type="text" class="form-control" id="caseCodeDelete" required>
            </div>
        </div>
          <div class="row">
            <div class="col-md-4 mb-3">
                <button type="submit" class="btn btn-primary btn-lg btn-block" id="btn_delete_case">Удалить дело</button>
            </div>
          </div>
          </form>
    </div>
    
<script>
    var form_edit = document.getElementById('needs-validation-edit');
    form_edit.addEventListener('submit', function() {
        if (form_edit.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form_edit.classList.add('was-validated');

        var data = {
          fundCode: form_edit.fundCode.value,
          inventoryCode: form_edit.inventoryCode.value,
          caseCode: form_edit.caseCode.value,
          caseName: form_edit.caseName.value,
          caseDate: form_edit.caseDate.value,
          caseCapacity: form_edit.caseCapacity.value
        }
        var check = confirm(`Подтвердите изменение данных дела:
                            ОПИСЬ ПРИНАДЛЕЖИТ ФОНДУ: ${data.fundCode}
                            КНИГА ПРИНАДЛЕЖИТ ОПИСИ: ${data.inventoryCode}
                            НОМЕР ИЗМЕНЯЕМОГО ДЕЛА (КНИГИ): ${data.caseCode}

                            Название: ${data.caseName ? data.caseName : "без изменений"}
                            Дата: ${data.caseDate ? data.caseDate : "без изменений"}
                            Кол-во листов: ${data.caseCapacity ? data.caseCapacity : "без изменений"}`);
        if (check) {
          var xhr = new XMLHttpRequest();
          xhr.open('POST', '/main/edit-cases/edit');			
          xhr.setRequestHeader('Content-Type', 'application/json'); 
          xhr.send(JSON.stringify(data));
          xhr.onload = function() {
            alert(this.responseText);
          }
        }
    });

    var form_delete = document.getElementById('needs-validation-delete');
    form_delete.addEventListener('submit', function() {
        if (form_delete.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form_delete.classList.add('was-validated');
        var data = {
          fundCode: form_delete.fundCodeDelete.value,
          inventoryCode: form_delete.inventoryCodeDelete.value,
          caseCode: form_delete.caseCodeDelete.value
        }

        var check = confirm(`Вы уверены, что хотите удалить данное дело?
                            НОМЕР ФОНДА: ${data.fundCode}
                            НОМЕР ОПИСИ: ${data.inventoryCode}
                            НОМЕР ДЕЛА: ${data.inventoryCode}\nВНИМАНИЕ! Удаление дела повлечет за собой удаление всех присущих ему карточек!`);
        if (check) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/main/edit-cases/delete');			
            xhr.setRequestHeader('Content-Type', 'application/json'); 
            xhr.send(JSON.stringify(data));
            xhr.onload = function() {
            alert(this.responseText);
            }
        }
    });
</script>