<% layout('layout/guest-layout') -%>

<div class="col-md-8 order-md-1">
    <h4 class="mb-3"><b>Поиск по карточкам</b></h4>
      <div class="row">
        <div class="col-md-4 mb-3">
          <label for="surname"><b>Фамилия:</b></label>
          <input type="text" class="form-control" id="surname">
        </div>
          <div class="col-md-4 mb-3">
            <label for="name"><b>Имя:</b></label>
            <input type="text" class="form-control" id="name">
          </div>
          <div class="col-md-4 mb-3">
              <label for="partonymic"><b>Отчество:</b></label>
              <input type="text" class="form-control" id="partonymic">
            </div>
      </div>
      <div class="row">
        <div class="col-md-8 mb-3">
          <label for="fundName"><b>Название фонда:</b></label>
          <input type="text" class="form-control" id="fundName">
        </div>
      </div>
      <div class="row">
          <div class="col-md-8 mb-3">
            <label for="caseName"><b>Название дела:</b></label>
            <input type="text" class="form-control" id="caseName">
          </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="fundCode"><b>Фонд:</b></label>
                <input type="text" class="form-control" id="fundCode">
            </div>
            <div class="col-md-3 mb-3">
                <label for="inventoryCode"><b>Опись:</b></label>
                <input type="text" class="form-control" id="inventoryCode">
            </div>
            <div class="col-md-3 mb-3">
                <label for="caseCode"><b>Дело:</b></label>
                <input type="text" class="form-control" id="caseCode">
            </div>
            <div class="col-md-3 mb-3">
                <label for="type"><b>Тип:</b></label>
                <input type="text" class="form-control" id="type">
            </div>
          </div>
        <div class="row">
            <div class="col-md-8 mb-3">
              <label for="date"><b>Год события:</b></label>
              <input type="text" class="form-control" id="date">
            </div>
          </div>
          <div class="row">
              <div class="col-md-4 mb-3">
                    <label for="placeType"><b>Тип места события:</b></label>
                    <select class="custom-select d-block w-100" id="placeType" required>
                        <option>none</option>
                        <option>Область</option>
                        <option>Район</option>
                        <option>Село</option>
                        <option>Город</option>
                        <option>Губерния</option>
                        <option>Уезд</option>
                        <option>Волость</option>
                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="place"><b>Название:</b></label>
                    <input type="text" class="form-control" id="place">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <button class="btn btn-primary btn-lg btn-block" id="btn_search_cards">Найти</button>
                </div>
            </div>
          </div>
<div id="output"></div> 
<script>
  var btn_search_cards = document.getElementById('btn_search_cards');
    btn_search_cards.addEventListener('click', function() {
      var inputs = document.getElementsByTagName('input');
      var data = {
        surname: inputs[0].value,
        name: inputs[1].value,
        partonymic: inputs[2].value,
        fundName: inputs[3].value,
        caseName: inputs[4].value,
        fundCode: inputs[5].value,
        inventoryCode: inputs[6].value,
        caseCode: inputs[7].value,
        type: inputs[8].value,
        date: inputs[9].value,
        place: inputs[10].value
      }
      var placeType = document.getElementById('placeType');
      data.placeType = placeType.value;
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/main/searching-cards-guest');			
      xhr.setRequestHeader('Content-Type', 'application/json'); 
      xhr.send(JSON.stringify(data));
      xhr.onload = function() {
        var output = document.getElementById('output');
        output.innerHTML = this.responseText;

        var counter = 0;
        var newWin = [];
        var tbody = document.getElementsByTagName('tbody')[0]; 
        tbody.addEventListener('click', function(e) {
          if (e.target.hasAttribute('id')) {
              var xhr = new XMLHttpRequest(); 
              xhr.open('GET', '/main/searching-cards-guest/edit/' + e.target.id);
              xhr.setRequestHeader('Content-Type', 'application/json');
              xhr.send();
              xhr.onload = function() {
                  newWin[counter] = window.open("about:blank", "_blank");
                  //"width=450, height=600, status=no"
                  newWin[counter].document.write(this.responseText);
                  counter++;
                }  
              }
        })
      };
  });
</script>


