<% layout('layout/admin-layout') -%>

<div class="col-md-8 order-md-1">
    <h4 class="mb-3"><b>Поиск описей</b></h4>
      <div class="row">
        <div class="col-md-12 mb-3">
          <label for="inventoryName"><b>Название описи (допускается неплоное название):</b></label>
          <input type="text" class="form-control" id="inventoryName" placeholder="Название описи">
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 mb-3">
          <label for="fundCode"><b>Номер фонда:</b></label>
          <input type="text" class="form-control" id="fundCode" placeholder="Пример: Р-100">
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 mb-3">
          <label for="inventoryCode"><b>Номер описи:</b></label>
          <input type="text" class="form-control" id="inventoryCode">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-3">
            <label for="inventoryStart"><b>Год от:</b></label>
            <input type="text" class="form-control" id="inventoryStart">
        </div>
        <div class="col-md-4 mb-3">
            <label for="inventoryEnd"><b>Год до:</b></label>
            <input type="text" class="form-control" id="inventoryEnd">
        </div>
      </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <button class="btn btn-primary btn-lg btn-block" id="btn_search_inventory">Найти опись</button>
        </div>
    </div>
</div>
<div id="output">
</div> 
<script>
  var btn_search_inventory = document.getElementById('btn_search_inventory');
    btn_search_inventory.addEventListener('click', function() {
      var inputs = document.getElementsByTagName('input');
      var data = {
        inventoryName: inputs[0].value,
        fundCode: inputs[1].value,
        inventoryCode: inputs[2].value,
        inventoryStart: inputs[3].value,
        inventoryEnd: inputs[4].value
      }
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/main/searching-inventorys');			
      xhr.setRequestHeader('Content-Type', 'application/json'); 
      xhr.send(JSON.stringify(data));
      xhr.onload = function() {
        var output = document.getElementById('output');
        output.innerHTML = this.responseText;
      };
  });
</script>