<% layout('layout/admin-layout') -%>

<div class="col-md-8 order-md-1">
    <h4 class="mb-3"><b>Поиск дел</b></h4>
      <div class="row">
        <div class="col-md-12 mb-3">
          <label for="caseName"><b>Название дела (допускается неплоное название):</b></label>
          <input type="text" class="form-control" id="caseName" placeholder="Название дела">
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 mb-3">
          <label for="fundCode"><b>Номер фонда:</b></label>
          <input type="text" class="form-control" id="fundCode" placeholder="Пример: Р-100">
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 mb-3">
          <label for="inventoryCode"><b>Номер описи:</b></label>
          <input type="text" class="form-control" id="inventoryCode">
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 mb-3">
          <label for="caseCode"><b>Номер книги (ед. хр.):</b></label>
          <input type="text" class="form-control" id="caseCode">
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 mb-3">
            <label for="caseDate"><b>Дата:</b></label>
            <input type="text" class="form-control" id="caseDate">
        </div>
      </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <button class="btn btn-primary btn-lg btn-block" id="btn_search_case">Найти дело</button>
        </div>
    </div>
</div>
<div id="output">
</div> 
<script>
  var btn_search_case = document.getElementById('btn_search_case');
    btn_search_case.addEventListener('click', function() {
      var inputs = document.getElementsByTagName('input');
      var data = {
        caseName: inputs[0].value,
        fundCode: inputs[1].value,
        inventoryCode: inputs[2].value,
        caseCode: inputs[3].value,
        caseDate: inputs[4].value
      }
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/main/searching-cases');			
      xhr.setRequestHeader('Content-Type', 'application/json'); 
      xhr.send(JSON.stringify(data));
      xhr.onload = function() {
        var output = document.getElementById('output');
        output.innerHTML = this.responseText;
      };
  });
</script>