<% layout('layout/guest-layout') -%>

<div class="col-md-8 order-md-1">
    <h4 class="mb-3"><b>Поиск по фондам</b></h4>
      <div class="row">
        <div class="col-md-12 mb-3">
          <label for="fundName"><b>Фондообразователь (допускается неплоное название):</b></label>
          <input type="text" class="form-control" id="fundName" placeholder="Название фондообразователя">
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 mb-3">
          <label for="fundCode"><b>Номер фонда:</b></label>
          <input type="text" class="form-control" id="fundCode" placeholder="Пример: Р-100">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-3">
            <label for="fundStart"><b>Год начала работы фонда:</b></label>
            <input type="text" class="form-control" id="fundStart" placeholder="">
        </div>
        <div class="col-md-4 mb-3">
            <label for="fundEnd"><b>Год окончания работы фонда:</b></label>
            <input type="text" class="form-control" id="fundEnd" placeholder="">
        </div>
      </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <button class="btn btn-primary btn-lg btn-block" id="btn_search_fund">Найти фонд</button>
        </div>
    </div>
</div>
<div id="output">
</div> 
<script>
  var btn_search_fund = document.getElementById('btn_search_fund');
    btn_search_fund.addEventListener('click', function() {
      var inputs = document.getElementsByTagName('input');
      var data = {
        fundCreator: inputs[0].value,
        fundCode: inputs[1].value,
        fundStart: inputs[2].value,
        fundEnd: inputs[3].value
      }
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/main/searching-fund-guest');			
      xhr.setRequestHeader('Content-Type', 'application/json'); 
      xhr.send(JSON.stringify(data));
      xhr.onload = function() {
        var output = document.getElementById('output');
        output.innerHTML = this.responseText;
      };
  });
</script>