<!DOCTYPE html>  
<html lang="ru">
<head>  
    <meta charset="utf-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Авторизация</title>

    <link id="favicon" rel="shortcut icon" type="image/png" href="/images/favicon.png" />
    <link href="/css/signin.css" rel="stylesheet" type='text/css' />  
    <link href="/css/bootstrap.min.css" rel="stylesheet" type='text/css'>
</head>  

<body class="text-center"> 
    <div class="container">
        <div class="row">  
            <div class="col"></div>
            <div class="col align-self-center">
                <form class="form-signin" action="/login" method="POST">  
                    <img class="mb-4" src="/images/logo.png" alt="" width="275" height="133">
                    <input class="form-control" name="username" placeholder="логин" autofocus required>
                    <input type="password" class="form-control" name="password" placeholder="пароль" required>
                    <button class="btn btn-primary btn-lg btn-block" id="btn_admin">Войти</button>
                </form>
                <a class="guest-button btn btn-lg btn-primary btn-block" href="/main-guest">Продолжить как гость</a>
                <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
            </div>  
            <div class="col"></div>
        </div>  
    </div>
</body>  
</html>